@media (max-width: 767px) and (min-width: 320px) {
    .image-gallery {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 280px;
        height: 205px;
        top: 384px;
        left: 20px;
        border-radius: 20px;
    }

    .image-item {
        margin-bottom: 21px;
    }

    .image-item {
        position: relative;
      }

    .image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        color: white;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .image-item:hover .image-info {
        opacity: 1;
      }

    .light-theme .image-gallery,
    .light-theme .image,
    .light-theme .image-item {
        color: #000;
    }

    .dark-theme .image-gallery,
    .dark-theme .image,
    .dark-theme .image-item {
        color: #fff;
    } 

}



@media (min-width: 768px) and (max-width: 1023px) {
    .image-gallery {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
        top: 224px;
        left: 34px;
    }

    .image {
        width: 340px;
        height: 249px;
    }

    .image-item {
        position: relative;
      }

    .image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        color: white;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .image-item:hover .image-info {
        opacity: 1;
      }

    .light-theme .image-gallery,
    .light-theme .image,
    .light-theme .image-item {
        color: #000;
    }

    .dark-theme .image-gallery,
    .dark-theme .image,
    .dark-theme .image-item {
        color: #fff;
    } 
}

@media (min-width: 1024px) and (max-width: 1365px) {
    .image-gallery {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        top: 224px;
        left: 42px;
    }

    .image {
        width: 300px;
        height: 230px;
    }

    .image-item {
        position: relative;
      }

    .image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        color: white;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .image-item:hover .image-info {
        opacity: 1;
      }

    .light-theme .image-gallery,
    .light-theme .image,
    .light-theme .image-item {
        color: #000;
    }

    .dark-theme .image-gallery,
    .dark-theme .image,
    .dark-theme .image-item {
        color: #fff;
    } 
}

@media (min-width: 1366px) {
    .image-gallery {
        position: absolute;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        top: 224px;
        left: 123px;
    }

    .image {
        width: 360px;
        height: 275px;
    }

    .image-item {
        position: relative;
      }

    .image-info {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        color: white;
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      .image-item:hover .image-info {
        opacity: 1;
      }

    .light-theme .image-gallery,
    .light-theme .image,
    .light-theme .image-item {
        color: #000;
    }

    .dark-theme .image-gallery,
    .dark-theme .image,
    .dark-theme .image-item {
        color: #fff;
    } 
}